.headline {
  padding-top: 80px;
  padding-bottom: 80px;
}

.illustration {
  transform: translateY(50px);
  z-index: 1;
  max-width: 400px;
  height: auto;
  position: relative;
}



.iframe-container {
  background-image:url(../images/shift-loader.svg);
  background-position: top 50px center;
  background-repeat: no-repeat;
  position: relative;
  background-size: 150px;
}
.iframe-container:before {
  @apply text-gray-700 text-xs font-sans uppercase tracking-widest;
  content: "Chargement en cours...";
  position: absolute;
  top:100px;
  text-align: center;
  left:50%;
  transform: translate(-50%, -100%);
}


.iframe-container {
  background-image:url(../images/shift-loader.svg);
  background-position: top 50px center;
  background-repeat: no-repeat;
  position: relative;
  background-size: 150px;
}
.iframe-container:before {
  @apply text-gray-700 text-xs font-sans uppercase tracking-widest;
  content: "Chargement en cours...";
  position: absolute;
  top:100px;
  text-align: center;
  left:50%;
  transform: translate(-50%, -100%);
}

.page-category{
  padding-bottom: 100px;
}

@screen md {
  .page-category{
    padding-bottom: 80px;
  }
  .headline {
    padding-top: 120px;
    padding-bottom: 80px;
    z-index: 0;
    position: relative;
  }

  .headline .illustration {
    max-width: none;
    transform: translateY(calc(-100% - 80px));
    width: 500px;
    position: absolute;
  }


  .search-nav{
    position: fixed!important;
    height: calc(100% - 80px)!important;
    top: 80px!important;
  }
  /* Let's get this party started */
  .search-nav::-webkit-scrollbar {
    width: 5px!important;
  }

  /* Track */
  .search-nav::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  */
    /* -webkit-border-radius: 0px; */
    /* border-radius: 0px; */
  }

  /* Handle */
  .search-nav::-webkit-scrollbar-thumb {
    /* -webkit-border-radius: 10px; */
    /* border-radius: 10px; */
    background: #4BD2AF!important;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
  }
  .search-nav::-webkit-scrollbar-thumb:window-inactive {
    background: #4BD2AF!important;
  }

  .search-content{
    margin-left: 33%!important;
  }

}
@screen lg {
  .headline .illustration {
    transform: translateY(calc(-100% - 60px));
    width: 740px;
  }
  .search-content{
    margin-left: 25%!important;
  }
}

@screen xl {
  .headline .illustration {
    transform: translateY(calc(-100% - 48px));
    width: 800px;
  }
}


.breadcrumb-item:last-child .sep{
    display:none;
}

